/* RESET */
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
figure,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

body {
  margin-top: 100px;
  font-family: Garamond, 'Times New Roman', serif;
  color: rgb(31, 28, 28);
  background-color: #FFFFFF;
}

h1 {
  font-size: 48px;
  font-family: Garamond, 'Times New Roman', serif;
  line-height: 1.6;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
